{% extends 'index.html' %}
{% block head %}{% endblock %}
{% block body %}
<section>
    <div class="col-auto">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div>
                    
                </div>               
                <div class="d-block text-center card-footer">
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i
                            class="pe-7s-trash btn-icon-wrapper"> </i></button>
                    <button class="btn-wide btn btn-success">Save</button>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}{% endblock %}